[MESSAGES CONTROL]
disable=C0114,C0115,C0116

[TYPECHECK]
signature-mutators=click.decorators.option,
                   click.decorators.argument,
                   click.decorators.version_option,
                   click.decorators.help_option,
                   click.decorators.pass_context,
                   click.decorators.pass_obj,
                   click.decorators.confirmation_option

[FORMAT]
max-line-length=120
